@model IList<Movie>

    @{
        ViewData["Title"] = "Movie xXXXX";
    }

<h2>Movie</h2>


    <a asp-action="Create">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.ReleaseDate.ToString("dd/MM/yyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    | <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>